/*
 * @name TerrorCord
 * @version 1.0.1
 * @description TeutonicTerror's Discord Theme
 * @author TeutonicTerror
 * @source https://github.com/TeutonicTerrror/TerrorcordTheme/tree/main
 * @website https://teutonicterror.pages.dev/
 * @invite tg3eAyyX8F
 */

 
/*Radial Status*/
@import url('https://discordstyles.github.io/RadialStatus/RadialStatus.css');
/*Clearvision (modded slightly) base*/
@import url('https://raw.githubusercontent.com/TeutonicTerrror/TerrorcordTheme/refs/heads/main/bases/cvModdedbase.css');
/*TerrorCord*/
@import url('https://raw.githubusercontent.com/TeutonicTerrror/TerrorcordTheme/refs/heads/main/bases/terrorcordBase.css');

/*! TerrorCord by TeutonicTerror Root Vars */
:root {
  --main-color: #FF4444 !important;
  --hover-color: #CC0000 !important;
  --success-color: #00CC66 !important;
  --danger-color: #00CC66 !important;
  --url-color: #FF6666 !important;
  --background-image: url('https://i.ibb.co/d8jjrQ1/bernd-dittrich-hlf-P8-QIk0kk-unsplash.jpg') !important;
  --background-shading-percent: 100% !important;
  --background-shading: 100% !important;
  --background-position: center !important;
  --background-size: cover !important;
  --background-repeat: no-repeat !important;
  --background-attachment: fixed !important;
  --background-brightness: 100% !important;
  --background-contrast: 100% !important;
  --background-saturation: 100% !important;
  --background-grayscale: 0% !important;
  --background-invert: 0% !important;
  --background-blur: 0px !important;
  --background-overlay: rgba(0,0,0,0.6) !important;
  --user-popout-image: url('https://i.ibb.co/d8jjrQ1/bernd-dittrich-hlf-P8-QIk0kk-unsplash.jpg') !important;
  --user-popout-position: center !important;
  --user-popout-size: cover !important;
  --user-popout-repeat: no-repeat !important;
  --user-popout-attachment: fixed !important;
  --user-popout-brightness: 100% !important;
  --user-popout-contrast: 100% !important;
  --user-popout-saturation: 100% !important;
  --user-popout-grayscale: 0% !important;
  --user-popout-invert: 0% !important;
  --user-popout-blur: 3px !important;
  --user-modal-image: url('https://i.ibb.co/d8jjrQ1/bernd-dittrich-hlf-P8-QIk0kk-unsplash.jpg') !important;
  --user-modal-position: center !important;
  --user-modal-size: cover !important;
  --user-modal-repeat: no-repeat !important;
  --user-modal-attachment: fixed !important;
  --user-modal-brightness: 100% !important;
  --user-modal-contrast: 100% !important;
  --user-modal-saturation: 100% !important;
  --user-modal-grayscale: 0% !important;
  --user-modal-invert: 0% !important;
  --user-modal-blur: 3px !important;
  --home-icon: url('https://i.ibb.co/5gnwxYFG/NewPFP.png') !important;
  --home-position: center !important;
  --home-size: 70px !important;
  --channel-unread: #FF6B6B !important;
  --channel-color: rgb(144,69,69,1) !important;
  --muted-color: rgb(102,102,102,1) !important;
  --online-color: #55D857 !important;
  --idle-color: #C98C1B !important;
  --dnd-color: #ff8400 !important;
  --streaming-color: #4A2D68 !important;
  --offline-color: #4D4D4D !important;
  --main-font: playfair display !important;
  --code-font: Consolas !important;
  --channels-width: 220px !important;
  --members-width: 200px !important;
  --backdrop-overlay: rgba(0,0,0,0.8) !important;
  --backdrop-image: var(--background-image) !important;
  --backdrop-position: var(--background-position) !important;
  --backdrop-size: var(--background-size) !important;
  --backdrop-repeat: var(--background-repeat) !important;
  --backdrop-attachment: var(--background-attachment) !important;
  --backdrop-brightness: var(--background-brightness) !important;
  --backdrop-contrast: var(--background-contrast) !important;
  --backdrop-saturation: var(--background-saturation) !important;
  --backdrop-invert: var(--background-invert) !important;
  --backdrop-grayscale: var(--background-grayscale) !important;
  --backdrop-sepia: var(--background-sepia) !important;
  --backdrop-blur: var(--background-blur) !important;
  --bd-blue: var(--main-color) !important;
  --bd-blue-hover: var(--hover-color) !important;
  --bd-blue-active: var(--hover-color) !important;
  --rs-small-spacing: 0px !important;
  --rs-medium-spacing: 0px !important;
  --rs-large-spacing: 0px !important;
  --rs-small-width: 2px !important;
  --rs-medium-width: 2px !important;
  --rs-large-width: 2px !important;
  --rs-avatar-shape: 50% !important;
  --rs-online-color: #43b581 !important;
  --rs-idle-color: #faa61a !important;
  --rs-dnd-color: #f04747 !important;
  --rs-offline-color: #636b75 !important;
  --rs-streaming-color: #643da7 !important;
  --rs-phone-visible: block !important;
}
